@import "variables";
@import "mixins";

.b-input {
    font-size: 30px;

    &_table-name {
        height: 36px;
        padding: 2px 7px;
        line-height: 22px;
        border: 1px solid black;
    }

    &_function {
        margin-left: 10px;
        margin-top: 20px;
        width: 100%;
    }
}